<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/NessusTools</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="connection.username">student</property>
        <property name="connection.password">uY?)qH$FmZ(8}{\/%xl82&quot;`eg&gt;Rp3j&gt;N</property>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>


        <mapping class="nessusTools.data.entity.lookup.HostIp" />
        <mapping class="nessusTools.data.entity.lookup.Hostname" />
        <mapping class="nessusTools.data.entity.lookup.HostFqdn" />
        <mapping class="nessusTools.data.entity.lookup.OperatingSystem" />
        <mapping class="nessusTools.data.entity.lookup.Cpe" />
        <mapping class="nessusTools.data.entity.lookup.PluginFamily" />
        <mapping class="nessusTools.data.entity.lookup.PluginName" />
        <mapping class="nessusTools.data.entity.lookup.PluginRefValue" />
        <mapping class="nessusTools.data.entity.lookup.PluginSeeAlso" />
        <mapping class="nessusTools.data.entity.lookup.PluginSynopsis" />
        <mapping class="nessusTools.data.entity.lookup.PluginScriptCopyright" />
        <mapping class="nessusTools.data.entity.lookup.PluginDescription" />
        <mapping class="nessusTools.data.entity.lookup.PolicyTemplateUuid" />
        <mapping class="nessusTools.data.entity.lookup.ScanPolicy" />
        <mapping class="nessusTools.data.entity.lookup.ScanScheduleType" />
        <mapping class="nessusTools.data.entity.lookup.ScanStatus" />
        <mapping class="nessusTools.data.entity.lookup.ScanType" />
        <mapping class="nessusTools.data.entity.lookup.ScanUuid" />
        <mapping class="nessusTools.data.entity.lookup.ScanTargets" />
        <mapping class="nessusTools.data.entity.lookup.PluginSolution" />
        <mapping class="nessusTools.data.entity.lookup.Timezone" />
        <mapping class="nessusTools.data.entity.lookup.Scanner" />
        <mapping class="nessusTools.data.entity.lookup.ScanOwner" />
        <mapping class="nessusTools.data.entity.lookup.VulnerabilityScore" />
        <mapping class="nessusTools.data.entity.lookup.Remediation" />

        <mapping class="nessusTools.data.entity.objectLookup.Acl" />
        <mapping class="nessusTools.data.entity.objectLookup.PluginAttributes" />
        <mapping class="nessusTools.data.entity.objectLookup.PluginInformation" />
        <mapping class="nessusTools.data.entity.objectLookup.PluginRefInformation" />
        <mapping class="nessusTools.data.entity.objectLookup.PluginRiskInformation" />
        <mapping class="nessusTools.data.entity.objectLookup.PluginVulnInformation" />
        <mapping class="nessusTools.data.entity.objectLookup.PluginHost" />
        <mapping class="nessusTools.data.entity.objectLookup.Plugin" />
        <mapping class="nessusTools.data.entity.objectLookup.License" />
        <mapping class="nessusTools.data.entity.objectLookup.RemediationDetails" />
        <mapping class="nessusTools.data.entity.objectLookup.SeverityBase" />
        <mapping class="nessusTools.data.entity.objectLookup.SeverityLevelCount" />
        <mapping class="nessusTools.data.entity.objectLookup.Vulnerability" />
        <mapping class="nessusTools.data.entity.objectLookup.ExtraJson" />


        <mapping class="nessusTools.data.entity.scan.Folder" />
        <mapping class="nessusTools.data.entity.scan.Scan" />
        <mapping class="nessusTools.data.entity.scan.ScanHistory" />
        <mapping class="nessusTools.data.entity.host.ScanHostInfo" />
        <mapping class="nessusTools.data.entity.scan.ScanInfo" />
        <mapping class="nessusTools.data.entity.scan.ScanPlugin" />
        <mapping class="nessusTools.data.entity.scan.ScanPrioritization" />
        <mapping class="nessusTools.data.entity.scan.ScanRemediationsSummary" />
        <mapping class="nessusTools.data.entity.scan.ScanHost" />
        <mapping class="nessusTools.data.entity.scan.ScanRemediation" />


        <mapping class="nessusTools.data.entity.host.ScanHostInfo" />

        <mapping class="nessusTools.data.entity.response.IndexResponse" />
        <mapping class="nessusTools.data.entity.response.ScanResponse" />
        <mapping class="nessusTools.data.entity.response.ScanHostResponse" />
        <mapping class="nessusTools.data.entity.splunk.SplunkOutput" />

    </session-factory>

</hibernate-configuration>