body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #222;
    color: #DDD;
}

body > main {
    padding-left: 1.5rem;
}

nav {
    background-color: lightgrey;
    padding: 0.5rem;
    margin: 0;
}

header > h1 {
    padding-left: 0.5rem;
    color: #FFF
}

h2 {
    color: #EEE;
}

nav a {
    margin: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    text-decoration: none;
}


.timeframe-title {
    font-weight: bold;
}

.timeframe-date {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

.timeframe-date > span {
    font-style: italic;
}

input[type="datetime-local"] {
    background-color: #222;
    color: #DDD;
    border: 1px solid darkgrey;
    padding: 0.2rem;
}

input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


.summary-main {
    margin: 1rem;
}

.summary-main, .data-main {
    margin-top: 0.25rem;
}

h2 {
    margin-bottom: 0;
    margin-left: 1rem;
}

.summary-category {
    display: inline-block;
    padding: 0.5rem;
    margin: 0;
    border: 1px solid darkgray;
}

.summary-category-name, .summary-category-value {
    margin: 0;
    text-align: center;
}

.summary-category-name {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

.summary-category-value {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}


.data-main {
    display: grid;
    grid-template-columns: repeat(6, auto);
}


.data-header {
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: rgba(34, 34, 34, 1);
    padding: 0.75rem;
}

.data-cell {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: monospace;
}

.data-cell.warning-high {
    background-color: darkred;
    
}